@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
      --background: 220 52% 98%;
      --foreground: 220 60% 0%;
      --muted: 0 39% 89%;
      --muted-foreground: 0 15% 34%;
      --popover: 220 52% 98%;
      --popover-foreground: 220 60% 0%;
      --card: 220 52% 98%;
      --card-foreground: 220 60% 0%;
      --border: 220 13% 90%;
      --input: 220 13% 90%;
      --primary: 220 100% 50%;
      --primary-foreground: 0 0% 100%;
      --secondary: 0 0% 92%;
      --secondary-foreground: 0 0% 32%;
      --accent: 0 8% 82%;
      --accent-foreground: 0 8% 22%;
      --destructive: 22 86% 32%;
      --destructive-foreground: 0 0% 100%;
      --ring: 220 100% 50%;
      --chart-1: 220 100% 50%;
      --chart-2: 0 0% 92%;
      --chart-3: 0 8% 82%;
      --chart-4: 0 0% 95%;
      --chart-5: 220 103% 50%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 220 55% 4%;
      --foreground: 220 25% 99%;
      --muted: 220 39% 11%;
      --muted-foreground: 220 15% 66%;
      --popover: 220 55% 4%;
      --popover-foreground: 220 25% 99%;
      --card: 220 55% 4%;
      --card-foreground: 220 25% 99%;
      --border: 220 13% 12%;
      --input: 220 13% 12%;
      --primary: 220 100% 50%;
      --primary-foreground: 0 0% 100%;
      --secondary: 220 17% 11%;
      --secondary-foreground: 220 17% 71%;
      --accent: 220 24% 19%;
      --accent-foreground: 220 24% 79%;
      --destructive: 22 86% 56%;
      --destructive-foreground: 0 0% 0%;
      --ring: 220 100% 50%;
      --chart-1: 220 100% 50%;
      --chart-2: 220 17% 11%;
      --chart-3: 220 24% 19%;
      --chart-4: 220 17% 14%;
      --chart-5: 220 103% 50%;
    }
  }
  

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
